<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://azurefunctionswithmsi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/366c4797-e7c7-4050-9b87-d2f9641c0268/resourcegroups/AzureServerlessCookbookv1/providers/Microsoft.Web/sites/AzureFunctionsWithMSI</ResourceId>
    <UserName>$AzureFunctionsWithMSI</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://azurefunctionswithmsi.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>