<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
</startup>
<appSettings>
<add key="EventHubConnection" value="Endpoint=sb://azureioteventhubs.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=GrPa1KAfrY5tYAPtQbPO3SrO9vP4OIf1uCNzM/+yT7E=;EntityPath=capturemessage"/>
</appSettings>
</configuration>