<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=ashissc;AccountKey=ykG6SrrnnP4SCM39PTieQq7ZMtYyAIt02s/6Vi9pRE/Kph4IRzWG8+thr0QJcWYH8KjZ75eCKrfwkdRpnvFLBQ==;EndpointSuffix=core.windows.net"/>
  </appSettings>
</configuration>