<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="EventHubConnection" value="Endpoint=sb://cookbookevents.servicebus.windows.net/;EntityPath=MyEventHub;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=sz7P2xXcm5zP3/XqwMsd8O4DKVXfkDJHg/c9z/xB5Mw="/>
  </appSettings>
</configuration>