<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="EventHubConnection"
      value="Endpoint=sb://cookbookeventhub1.servicebus.windows.net/;;Entitypath=EventHub1;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=2ox5XZJVSlI97EQCUCHjZbWgCAywr9XG1N6D3Zxb0Gg="/>
  </appSettings>
</configuration>